<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Simple webpack project</title>
  <link rel="stylesheet" href="dist/main.css"/>
</head>
<body>
  <div id="wrap" class="container"></div>
</body>
</html>
